## Collection Type
1. List
2. Tuple
3. Dictionary

### list--->indexed, ordered, mutable, allows duplicate values

In [2]:
list1 = [12,23,45.6,"abc",True]
#Adding elements
list1.append(45.6)
list1.append(100)
print(list1)
list1.insert(3,200)
list1.extend([400,500,600])
print(list1)

[12, 23, 45.6, 'abc', True, 45.6, 100]
[12, 23, 45.6, 200, 'abc', True, 45.6, 100, 400, 500, 600]

In [12]:
#Removing elements from list
#del list1[-1]
print(list1)
#list1.pop()
#r= list1.pop(4)
#list1.remove(23)
print(list1)

[12]
[12]

In [16]:
#list assignment
list1=[500,200,100]

In [19]:
list1.reverse()
list1

[100, 200, 500]

In [20]:
list1.sort()
list1

[100, 200, 500]

In [21]:
list1.sort(reverse=True)
list1

[500, 200, 100]

In [22]:
list1

[500, 200, 100]

In [23]:
list2=list1
list2

[500, 200, 100]

In [ ]:
list3

In [ ]:
list1.append(400)
list1.append(900)
print(list1,list2,list3)

In [27]:
list1.count(200)

1

In [1]:
# Accept 3 subjects marks of the student at run time and store values in a list
#return total marks of the student
n=int(input("enter no. of subjects"))
marks = []
for i in range(n):
    marks.append(int(input()))
print("sum =",sum(marks))

enter no. of subjects3
45
87
67
sum = 199

In [2]:
#max,sort for finding max element

### Tuple --> indexed, ordered, allows duplicate values, immutable 
#### use()

In [3]:
t1=(23,34,45,67)
l1=list(t1)
l1[2]=100
t1=tuple(l1)
t1

(23, 34, 100, 67)

In [19]:
# dict1= {key1:value1, key2:value2, ...}
# Rules for keys
# 1.keys should be unique
# 2.keys should be immutable(numbers,strings,tuple)
s1={"name":"Vennela","rollnumber":22,"course":"Cse"}
# Adding new entry
s1["address"]="hyd"
s1["sec"]="b1"
s1["name"]
#s1

'Vennela'

In [20]:
# to delete an entry
del s1["sec"]
s1

{'name': 'Vennela', 'rollnumber': 22, 'course': 'Cse', 'address': 'hyd'}

In [21]:
# to update a entry
s1["address"]="banglore"
s1

{'name': 'Vennela', 'rollnumber': 22, 'course': 'Cse', 'address': 'banglore'}